<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename="img/favicon.ico") }}">

    <title>HCP Usage Statistics</title>

    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/sticky-footer-navbar.css") }}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
  </head>

{#  <style>#}
{#      .navbar-default {#}
{#          background-color: #9ec4ea;#}
{#      }#}
{#      .navbar-default .navbar-brand {#}
{#          color: black;#}
{#      }#}
{#      .navbar-default .navbar-nav a:hover {#}
{#          color: white;#}
{#      }#}
{#  </style>#}

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
{#          <p style="float:left; padding-right:10px; margin-top:5px"><img width="55" height="40" src={{ url_for('static', filename="img/hcp-brain.png") }}></p>#}
          <a class="navbar-brand" href="{{ url_for('statistics') }}">HCP Usage Statistics</a>
        </div>

      </div>
    </div>

    <br>

    <!-- Begin page content -->
    <div class="container" style="padding-bottom:6%;padding-bottom:2%;">
      {% block content %} {% endblock %}
    </div>

    <div class="footer">
      <div class="container">
        <!-- <p style="float: left;padding-top:3px;padding-right:10px"><img src={{ url_for('static', filename="img/hcp-brain.png") }} width="70" height="50" alt="brain"></p> -->
        <p class="text-muted">Human Connectome Project</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

  </body>
</html>
