{% extends "layout.html" %}

{% block content %}
  <div id='flash' style="padding-top: 10px">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}"><!-- <span class="glyphicon glyphicon-thumbs-up"></span> -->
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
  <h2>Sign In</h2>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p> Username:
          {{ form.username }}<br>
      </p>
      <p> Password:
          {{ form.password }}
      </p>
      <p><input class="btn btn-primary" type="submit" value="Login"></p>
  </form>
{% endblock %}
