{% extends "layout.html" %}
{% block content %}

<h3>Restricted Access Report</h3>
<form method="post" class="form-horizontal" role="form" style="float:left">
    {% for s in stats %}
    <p>{{ s[1] }}: <b>{{ s[3] }}</b></p>
    {% endfor %}
    <button id="refresh" name="refresh_counts" class="btn btn-xs">
        <span id="refresh_icon" class="glyphicon glyphicon-refresh"></span> Refresh Counts
    </button>
    <small><font color="gray">Last Updated: {{ stats[0][4] }}</font></small>
    <hr>
</form>
<table class="table table-striped">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Account</th>
        <th>Email</th>
        <th>Status</th>
        <th>Last Updated</th>
        <th></th>
    </thead>
    <tbody>
        {% for r in results %}
        <tr>
            <!-- <td>{{ i }}</td> -->
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[3] }}</td>
            {% if r[7] == 'Access Granted' %}
                <td style='color: green'>
            {% elif r[7] == 'No DUT' %}
                <td style='color: orange'>
            {% elif r[7] == 'No Account' %}
                <td style='color: red'>
            {% else %}
                <td>
            {% endif %}
                {{ r[7] }}</td>
            <td>{{ r[8] }}</td>
            <td>
            {% if r[9] %}
            <button type="button" class="btn btn-xs btn-info" title="Note" data-toggle="popover" data-placement="left" data-content="{{ r[9] }}">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </button>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
$(function () {
    $('.btn').popover({trigger: 'hover'});
});

$(document).ready(function(){
    $('#refresh').click(function(){
        $("#refresh_icon").attr('class', 'fa fa-spinner fa-spin fa-lg')
        // $("#refresh span").text('Please Wait')
        // $("#refresh").prop("disabled", true)
    });
});
</script>

{% endblock %}


