{% extends "layout.html" %}
{% block content %}

<form method="post" action="">
    <!-- Search Text Input -->
    <div class="control-group">
    {#  <label class="control-label">Search ConnectomeDB for:</label>#}
      <div class="controls">
          <button name="search_cdb" id="search_cdb" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search Connectome</button>
          {{ form.firstname(placeholder='First name', size=24) }}
          {{ form.lastname(placeholder='Last name', size=24) }}
      </div>
    </div>

    <hr>
    <!-- Connectome User Search Results -->
    {% if results %}
    <div id="cdb_results" style="display: block">
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-user"></span> Select a user below to validate Phase2 Open Access membership
        </div>
        <table class="table table-striped">
            <thead class="text-muted">
            <td>Search AD</td><td>First Name</td><td>Last Name</td><td>Username</td><td>Email</td>
            </thead>
            <tbody>
            {% for user in results %}
            <tr>
                <td><button name="search_ad" class="btn btn-success btn-sm" value="{{ user.get('login') }}">Select</button></td>
                <td>{{ user.get('firstname') }}</td><td>{{ user.get('lastname') }}</td><td>{{ user.get('login') }}</td><td>{{ user.get('email') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% elif form.firstname.data and form.lastname.data and not results %}
    <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span>
        No matching users found on ConnectomeDB
    </div>

    {% endif %}

    {% if g.username and open %}
    <hr>
    <div class="alert alert-success">
        <button name="grant_restricted" class="btn btn-sm btn-danger" value="granted">
            <span class="glyphicon glyphicon-plus"></span> Grant Restricted Access
        </button>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        {{ g.username }} has accepted open access DUT. Grant Restricted Access?
    </div>
    {% elif g.username and not access %}
    <div class="alert alert-danger"><span class="glyphicon glyphicon-thumbs-down"></span>
        {{ g.username }} has NOT accepted the Open Access DUT. Please notifify the user.
    </div>
    {% endif %}

    {#{% if form.email.data and (open and restricted) or not (open and restricted) %}#}
    <hr>
    {% if restricted %}
    <div class="alert alert-success"><span class="glyphicon glyphicon-check"></span>
        {{ session['username'] }} was successfully granted restricted access!
    </div>
    {% endif %}

    {% if display_email %}
    <div class="controls">
        {{ form.email(row=50, cols=120) }}<br>
        <button name="send_email" id="search_cdb" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Send Email</button>
    </div>
    {% endif %}
</form>

{% endblock %}
