{% extends "layout.html" %}
{% block content %}
<form method="post" action="">
    <!-- Search Text Input -->
    <div class="control-group">
    {#  <label class="control-label">Search ConnectomeDB for:</label>#}
      <div class="controls">
          <button name="search_cdb" class="btn btn-primary" value="s">
            <span class="glyphicon glyphicon-search"></span> Search Connectome
          </button>
          {{ form.firstname(placeholder='First name', size=24) }}
          {{ form.lastname(placeholder='Last name', size=24) }}
      </div>
    </div>
    <hr>
    <!-- Connectome User Search Results -->
    {% if results %}
    <div id="cdb_results" style="display: block">
        {% if g.exact_match %}
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-user"></span> <b>Exact match(es) found.</b> Select a user below to validate Phase2 Open Access membership
        </div>
        {% else %}
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-user"></span> <b>No exact match found</b> Select a user from the possible matches below to validate Phase2 Open Access membership, or send <b>{{ form.firstname.data }}</b> an email
        </div>
        {% endif %}
        <table class="table table-striped">
            <thead class="text-muted">
            <td>Search AD</td><td>First Name</td><td>Last Name</td><td>Username</td><td>Email</td>
            </thead>
            <tbody>
            {% for user in results %}
            <tr>
                <td><button name="search_ad" class="btn btn-success btn-sm" value="{{ user }}">Select</button></td>
                <td>{{ user.get('firstname') }}</td><td>{{ user.get('lastname') }}</td><td>{{ user.get('login') }}</td>
                <td><a href="mailto:{{ user.get('email') }}">{{ user.get('email') }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% elif (form.firstname.data or form.lastname.data) and not results %}
    <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span>
        No matching users found on ConnectomeDB for <b>{{ form.firstname.data }} {{ form.lastname.data}}</b>
    </div>
    {% endif %}

    {% if g.username and not open_access %}
    <div class="alert alert-danger"><span class="glyphicon glyphicon-thumbs-down"></span>
        <b>{{ g.username }}</b> has not accepted the Open Access DUT. Please notify the user.
    </div>
    {% elif g.username and open_access and not restricted_access%}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <b>{{ g.username }}</b> has accepted open access DUT. Grant Restricted Access?
        <button name="grant_restricted" class="btn btn-success" value="granted" style="float:right;">
            <span class="glyphicon glyphicon-plus"></span> Grant Restricted Access
        </button>
    </div>
    {% elif session['username'] and open_access and restricted_access %}
    <div class="alert alert-success"><span class="glyphicon glyphicon-check"></span>
        <b>{{ session['username'] }}</b> has restricted access!
        <button name="revoke_restricted" class="btn btn-danger" value="revoke" style="float:right;padding-bottom2px;">
            <span class="glyphicon glyphicon-minus"></span> Revoke Access (not implemented)
        </button>
    </div>
    {% endif %}

    {% if gen_email %}
    <div class="control-group">
      <div class="controls">
          <button name="gen_email" value="gen" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Generate Email As</button>
          {{ form.generate_email_as }}
      </div>
    </div>
    {% endif %}
    <div id='flash'>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}"><!-- <span class="glyphicon glyphicon-thumbs-up"></span> -->
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</form>

<script>
$(document).ready(function(){
    $('#search_ad').click(function () {
        $('html, body').animate({scrollTop:$(document).height()}, 'slow');
        return false;
    });
});
</script>
{% endblock %}
